---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Login - Kenexar Bot">
    <main class="bg-slate-800 h-screen w-screen text-white grid place-items-center">
        <div class="text-center">
            <h1 class="text-3xl m-auto font mb-3">Login</h1>
            <button class="bg-blue-900 rounded-md font-medium px-9 py-3 hover:bg-blue-600 transition duration-200">Discord</button>
        </div>
    </main>
</MainLayout>