---
import MainLayout from "@layouts/MainLayout.astro";
import ErrorModel from "@components/ErrorModel";
import discordLogo from "@assets/discord-mark-white.svg";
const error = Astro.url.searchParams.get("error");
---

<MainLayout title="Kenexar - Ticket bot">
	<main class="bg-slate-700 h-screen w-screen overflow-x-hidden">
		{() => {
			if (error) {
				return (
					<ErrorModel client:load
						title="Error"
						description={error}
					/>
				);
			}
		}}
		<header
			class="w-screen h-16 px-7 bg-slate-800 flex justify-between items-center text-white"
		>
			<span class="text-2xl ">Kenexar</span>
			<div class="flex items-center">
				<a
					href="/dashboard"
					class="bg-gray-600 hover:bg-gray-700 active:bg-gray-500 transition px-5 py-2 rounded mr-4"
					>Dashboard</a
				>
				<a
					class="bg-green-600 flex items-center gap-2 hover:bg-green-700 active:bg-green-500 transition px-5 py-2 rounded mr-4"
					href="https://discord.com/api/oauth2/authorize?client_id=841508597577678880&permissions=8&scope=bot">
					<img 
					class="p-0 h-6 w-6"
					src={discordLogo}
					alt="discord logo"/>
					Invite Bot</a
				>
			</div>
		</header>
		<section
			id="hero"
			class="h-screen bg-slate-500 text-white grid place-items-center"
			>
			<h1 class="text-4xl w-96 text-center font-medium">
				Der beste Ticket Bot der uns bekannten Welt!
			</h1>
			<ul>
				<li>Simple Setup</li>
				<li>Performance</li>
			</ul>
		</section>
		<section class="h-96 bg-black">
			<h1>Features</h1>
			<ul>
				<li>Simple Setup</li>
				<li>Performance</li>
			</ul>
		</section>
	</main>
</MainLayout>
