---
import MainLayout from '../layouts/MainLayout.astro';

// const apiRespone = fetch('http://localhost:2500/')
// 	.then((res) => res.json())
// 	.then((data) => {
// 		return data;
// 	});
---
<MainLayout title="Kenexar - Ticket bot">
	<main>
		<h1 class="">Heya</h1>
		<h1>Counter = </h1>
		<a href="/dashboard">Click me</a>
	</main>
</MainLayout>