---

---
<footer class="h-32 bg-black before:-translate-y-6 text-white grid place-items-center">
    <div class="grid place-items-center gap-6">
        <div class="gap-3 flex">
            <a href="https://twitter.com/kenexareu" class="p-3 border rounded border-white hover:bg-white hover:text-black transition-colors duration-200 delay-100">Twitter</a>
            <a href="https://discord.gg/W3Yf53dBMH" class="p-3 border rounded border-white hover:bg-white hover:text-black transition-colors duration-200 delay-100">Discord Server</a>
            <a href="https://github.com/kenexar" class="p-3 border rounded border-white hover:bg-white hover:text-black transition-colors duration-200 delay-100">GitHub</a>
        </div>
        <span>Copyright © Kenexar.eu 2021-2023 | Impressum</span>
    </div>
</footer>