---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
		<meta name="description" content="A Open-source Discord bot." />
		<meta name="theme-color" content="#090807" />
		<meta property="og:title" content="Kenexar - Discord bot">
		<meta property="og:site_name" content="bot.Kenexar.eu">
		<meta property="og:url" content="bot.Kenexar.eu">
		<meta property="og:description" content="An Open-source Discord bot.">
		<meta property="og:type" content="website">
		<meta property="og:image" content="https://github.com/Kenexar/Kenexar/blob/master/assets/img/KenexarLogo_Transparent200x200.png?raw=true">
		<link rel="manifest" href="/manifest.json" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || "test"}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;


	* {
		scrollbar-width: auto;
		scrollbar-color: #3b3b3b ;
	}

	/* Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
		width: 11px;
	}

	*::-webkit-scrollbar-track {
		background: none;
		z-index: 999;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #676767;
		border-radius: 10px;
		z-index: 999;
	}
</style>
